section#isometric-glass-layered-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.box {
  position: relative;
  width: 300px;
  height: 576px;
  background-image: url(iPhone.png);
  background-size: contain;
  transition: 0.5s;
  transform: rotate(-45deg) skewY(25deg);
  box-shadow: -25px 40px 4px rgba(0, 0, 0, 0.2);
}
.box:hover {
  transform: rotate(-45deg) skewY(25deg) translate(20px, -20px);
  box-shadow: -60px 100px 60px rgba(0, 0, 0, 0.5);
}
.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  width: 20px;
  background-color: #e4e4e4;
  box-sizing: border-box;
  border-top: 48px solid #ffffff;
  border-bottom: 42px solid #ffffff;
  transform-origin: right;
  transform: skewY(-58deg);
}
.box::after {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 0;
  height: 32px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  transform-origin: top;
  transform: skewX(-32deg);
}
.box .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: 0.5s;
  overflow: hidden;
}
.box:hover .glass {
  top: -30px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}
.box:hover .glass:nth-child(2) {
  top: -60px;
  left: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}
